<div class="row">
  <aside class="span4">
    <section>
      <%= render partial: 'userpane', locals: {user: @user} %>
    </section>
    <ul>
      <li>
        <%= link_to "Own posts", posts_user_path(@user) %>
      </li>
    </ul>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @posts.any? %>
      <h3>Posts (<%= @posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
    <% end %>
  </div>
</div>
<%= link_to "< Users", users_path %>
<%= link_to "Home", posts_path %>