<%= form_for @post do |f| %>
    <p>
      <%= f.label :title %>
      <% if @post.errors.any? %>
        <div id="errorExplanation">
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :text %>
      <%= f.text_area :text %>
    </p>
    <p>
      <%= label_tag(:new_tag) %>
      <%= text_field_tag(:new_tag, nil, size: 20) %>
      <% if @post.tags.any? %>
        <div class="post-tags">
           <% @post.tags.each do |tag| %>
              <span class="post-tag"><%= tag.name %></span>
           <% end %>
        </div>
      <% end %>
      <%= hidden_field_tag(:tags) %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>