<h1>Listing posts</h1>

<table cellpadding=20>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Delete</th>
    <th>Comments</th>
    <th>Created at</th>
  </tr>

  <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.text %></td>
        <td><%= link_to "del", post_path(post), method: :delete, data: {confirm: 'Are you shure?'} %></td>
        <td><%= post.comments.count %></td>
        <td><%= post.created_at.to_date %> <%= post.created_at.hour %>:<%= post.created_at.min %></td>
      </tr>
  <% end %>
</table>

<%= link_to "new post", new_post_path %>
<%= link_to "users", users_path %>
<%= link_to "Register", signup_path %>