<h1><%= @post.title %></h1>

<p>
  <%= @post.text %>
</p>
<br><br><hr>
<h2>Comments</h2>
<%= render @post.comments %>

<%= render "comments/form" %>

<%= link_to "Edit post", edit_post_path(@post) %><br>
<%= link_to "All posts", posts_path %>