<!DOCTYPE html>
<html>
<head>
  <title>En</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div>
      <% if signed_in? %>
        <%= link_to current_user.email, current_user %>
      <% else %>
        <%= link_to "sign in", signin_path %>
      <% end %>
    </div>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
</body>
</html>
